<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ITB Open Data</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">ITB Open Data - Process</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#">Tentang</a></li>
                    <li><a href="academic.html">Data Akademik</a></li>
                    <li class="active"><a href="publication.html">Data Publikasi</a></li> 
                </ul>
            </div>
            
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="well well-lg">
            <h1>Data Publikasi</h1>
            <p>Data Publikasi adalah data yang memiliki informasi sitasi dari penelitian. Data publikasi ITB umumnya disajikan pada Laman Portal Fakultas/Jurusan/Kelompok Keahlian</a></p>
            <p>Terdapat dua proses dalam pengelolaan open data publikasi otomatis ini yaitu:</p>
            <ol>
                <li>Crawling URL, yaitu mencari semua URL yang berhubungan dari frontier</li>
                <li>Ekstraksi Data, yaitu mengekstraksi isi data dari list URL yang diberikan</li>
            </ol>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><h4>Crawling URL</h4></div>
            <div class="panel-body">
                <form class="form" style="padding:10px">
                    <div class="form-group"> 
                        <div>
                            <h5>List URL Frontier</h5>
                            <div class="col-md-12">
                                <input type="file" class="filestyle" data-icon="false" id="HTMLtable">
                            </div>    
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-block btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><h4>Ekstraksi Data</h4></div>
            <div class="panel-body">
                <h3>Alternatif #1 - Single URL / Manual Input</h3>
                <form class="form" style="padding:10px">
                    <div class="form-group"> 
                        <div>
                            <h5>URL (Single)</h5>
                            <div class="col-md-12">
                                <input type="text" class="form-control" id="usr" placeholder="Masukkan Sebuah URL Data Pendidikan">
                            </div>    
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-block btn-success">Ekstraksi Data</button>
                        </div>
                    </div>
                </form>
                <br><br><hr>
                <h3>Alternatif #2 - Bulk URL</h3>
                <form class="form" style="padding:10px">
                    <div class="form-group"> 
                        <div>
                            <h5>List URL (.csv hasil crawling)</h5>
                            <div class="col-md-12">
                                <input type="file" class="filestyle" data-icon="false" id="HTMLtable">
                            </div>    
                        </div>
                    </div>
                    <div class="form-group" style="padding-top:20px">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-block btn-success">Ekstraksi Data</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    
    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/require.js"></script>
    <script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>
    <!-- Elasticsearch JS library -->
    <script src="js/underscore-min.js"></script>
    <script src="js/elasticsearch.js"></script>
    
    <script src="js/funcs.js"></script>

</body>

</html>
